:root {
    width: 100%;
    /*position: fixed;*/
    /*overflow: hidden;*/
    touch-action: none;
    color: var(--font-color);
    height: var(--root-height);
    font-family: var(--font-family);
    background: var(--background-color);
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*touch-action: none;*/
    /*height: var(--root-height);*/
}

.background {
    z-index: 0;
    width: 100%;
    position: absolute;
    height: var(--root-height);
    min-height: calc(var(--vpx) * 812);
}

.background .lines {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    padding: var(--lines-padding);
    justify-content: space-between;
}

.background .lines .line {
    width: 1px;
    display: block;
    background: rgba(255, 255, 255, 0.10);
}

.background .decorations {
    bottom: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    height: calc(var(--vpx) * 812);
    background-repeat: no-repeat;
    background-size: 50%;
    /* @formatter:off */
    background-image:
            url("/decoration.left.png"),
            url("/decoration.right.png");
    background-position:
            top calc(var(--vpx) * 257) left,
            top calc(var(--vpx) * 257) right;
    /* @formatter:on */
}

.background .photos {
    bottom: 0;
    z-index: 2;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    height: calc(var(--vpx) * 812);
    /* @formatter:off */
    background-image:
            url("/Klava.png"),
            url("/Niletto.png");
    background-size:
            calc(var(--vpx) * 342),
            calc(var(--vpx) * 409);
    background-position:
            top calc(var(--vpx) * 232) right calc(var(--vpx) * 105),
            top calc(var(--vpx) * 257) left calc(var(--vpx) * 111);
    /* @formatter:on */
}

.background .overlay {
    bottom: 0;
    z-index: 3;
    width: 100%;
    position: absolute;
    height: calc(var(--vpx) * 445);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 80%);
}

main {
    z-index: 1;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    /*height: var(--root-height);*/
    /*justify-content: space-between;*/
    padding-top: calc(var(--vpx) * 40);
}

.logo {
    flex-shrink: 0;
    width: calc(var(--vpx) * 73);
    height: calc(var(--vpx) * 47);
    margin-bottom: calc(var(--vpx) * 37);
}

.logo img {
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    font-family: var(--title-font-family);
}

.title .mark {
    background: var(--accent-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.auth {
    position: absolute;
    width: calc(var(--vpx) * 313);
    bottom: calc(var(--vpx) * 59);
}
