:root {

    --auth-section-width: var(--section-width);
    --auth-section-horizontal-padding: var(--section-horizontal-padding);

    --auth-overlay-height: var(--overlay-height);
    --auth-overlay-padding: var(--overlay-padding);
    --auth-overlay-display: var(--overlay-display);
    --auth-overlay-threshold: var(--overlay-threshold);
    --auth-overlay-background: var(--overlay-background);

    --auth-header-padding: var(--header-padding);
    --auth-header-font-size: var(--header-font-size);

    --vk-position: absolute;
    --vk-width: 313px;
    --vk-height: 62px;
    --vk-padding: calc(var(--vpx) * 59);
    --vk-border-radius: 8px;

    --niletto-left: calc(var(--vpx) * 114.5);
    --niletto-bottom: calc(var(--vpx) * 5.12);
    --niletto-width: calc(var(--vpx) * 368.384);

    --klava-width: calc(var(--vpx) * 636);
    --klava-right: calc(var(--vpx) * -54);
    --klava-bottom: calc(var(--vpx) * -337);

}

@media (orientation: portrait)
and (min-width: 750px) {

    :root {

        --auth-overlay-display: none;

        --vk-position: static;
        --vk-padding: calc(var(--vpx) * 40);

        --niletto-left: calc(var(--vpx) * 267.42);
        --niletto-width: calc(var(--vpx) * 678.83);
        --niletto-bottom: calc(var(--vpx) * -274.54);

        --klava-right: calc(var(--vpx) * -20);
        --klava-width: calc(var(--vpx) * 1174);
        --klava-bottom: calc(var(--vpx) * -903);

    }

}

@media (orientation: landscape) {

    :root {

        --auth-overlay-display: none;

        --vk-position: static;
        --vk-padding: calc(var(--vpx) * 40);

        --niletto-left: calc(var(--vpx) * 720.05);
        --niletto-width: calc(var(--vpx) * 621.857);
        --niletto-bottom: calc(var(--vpx) * -248.91);

        --klava-right: calc(var(--vpx) * 457.74);
        --klava-width: calc(var(--vpx) * 1020.92);
        --klava-bottom: calc(var(--vpx) * -730);

    }

}
