.auth {

    --decorations-padding-top: 0;
    --decorations-padding-bottom: -30;
    --decorations-padding-right: -166;
    --decorations-padding-bottom-right: calc(
            var(--decorations-padding-bottom)
            +
            var(--decorations-padding-right)
    );

    --decorations-min-height: calc(var(--vpx) * 1202);

    /* @formatter:off */
    --decorations-background-image:
            var(--decorations-background-left-image),
            var(--decorations-background-right-image),
            var(--decorations-background-left-image),
            var(--decorations-background-right-image);
    --decorations-background-position:
            top calc(var(--vpx) * var(--decorations-padding-top)) left,
            top calc(var(--vpx) * var(--decorations-padding-right)) right,
            bottom calc(var(--vpx) * var(--decorations-padding-bottom)) left,
            bottom calc(var(--vpx) * var(--decorations-padding-bottom-right)) right;
    /* @formatter:on */

    --overlay-display: block;
    --overlay-height: calc(var(--vpx) * 192);

    --vk-position: absolute;
    --vk-padding: calc(var(--vpx) * 58);

    --vk-width: 313px;
    --vk-height: 62px;
    --vk-border-radius: 8px;

}

@media (orientation: portrait)
and (min-width: 750px) {

    .auth {

        --decorations-padding-bottom: -60;
        --decorations-padding-right: -369;

        --decorations-min-height: calc(var(--vpx) * 2659);

        --overlay-display: none;

        --vk-position: static;
        --vk-padding: calc(var(--vpx) * 40);

    }

}

@media (orientation: landscape) {

    .auth {

        --overlay-display: none;

        --decorations-background-image: revert;
        --decorations-background-position: revert;

        --decorations-min-height: var(--page-height);

        --vk-position: static;
        --vk-padding: calc(var(--vpx) * 40);

    }

}

.auth section {
    justify-content: center;
}

.auth section:after {
    bottom: 0;
    top: unset;
}

.auth .background {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--page-height);
}

.auth .background .decorations {
    height: 100%;
    bottom: unset;
    position: absolute;
    max-height: var(--page-height);
    min-height: var(--decorations-min-height);
}

.auth .logo {
    top: 0;
    position: absolute;
}

.vk {
    bottom: 0;
    z-index: 10;
    width: var(--vk-width);
    height: var(--vk-height);
    position: var(--vk-position);
    margin-top: var(--vk-padding);
    margin-bottom: var(--vk-padding);
    border-radius: var(--vk-border-radius);
}

.vk *, iframe {
    pointer-events: auto;
}
