.vote {

    --decorations-display: none;

    --section-horizontal-padding: var(--lines-padding);
    --section-width: calc(100% - (var(--section-horizontal-padding) * 2));

    --content-max-width: 100%;

    --variants-padding-top: calc(var(--vpx) * 200);
    --variants-padding-bottom: calc(var(--vpx) * 58);
    --variants-height: calc(var(--page-height) - var(--variants-padding-top) - var(--variants-padding-bottom));

    --variant-height: calc(var(--vpx) * (492 + 62));
    /*--variant-background-min-height: calc(var(--background-height) - var(--variants-padding-top) - var(--variants-padding-bottom));*/

    --variants-gap: calc(var(--vpx) * 20);
    --variants-vertical-gap: calc(var(--vpx) * 32);

    --variant-background-min-height: calc(var(--vpx) * 492);
    --variant-grid-background-min-height: calc(var(--vpx) * 187);

    --variant-background-image: var(--decorations-background-left-image);

    /* @formatter:off */
    --variant-background:
            var(--variant-background-image),
            linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%),
            rgba(255, 255, 255, 0.20);
    /* @formatter:on */

    /*--variant-background-*/

    --variant-button-padding: calc(var(--vpx) * 16);

    --variants-margin-top: calc(var(--vpx) * 23);

    --overlay-height: calc(var(--vpx) * (91 + 62));

    --variants-decoration-display: block;

    --overlay-threshold: 50%;

}

@media (orientation: portrait)
and (min-width: 750px) {

    .vote {

        --variants-padding-top: calc(var(--vpx) * 290);
        --variants-padding-bottom: calc(var(--vpx) * 83);

        --section-horizontal-padding: calc(var(--vpx) * 95);

        --variant-height: calc(var(--vpx) * (759 + 62));

        --variants-gap: calc(var(--vpx) * 69);

        --variant-background-min-height: calc(var(--vpx) * 759);
        --variant-grid-background-min-height: calc(var(--vpx) * 306);

        --variant-button-padding: calc(var(--vpx) * 26);

        --variants-margin-top: calc(var(--vpx) * 32);

        --variants-decoration-display: none;

    }

}

@media (orientation: landscape) {

    .vote {

        --decorations-display: initial;

        --section-horizontal-padding: calc(var(--vpx) * 277);

        --header-padding: calc(var(--vpx) * 32);
        --header-font-size: calc(var(--vpx) * 36);

        --variants-padding-top: calc(var(--vpx) * 260);
        --variants-padding-bottom: calc(var(--vpx) * 73);

        --variants-decoration-display: none;

    }

}

.vote .background:after {

    bottom: 0;
    z-index: 0;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    pointer-events: none;
    height: var(--overlay-height);
    background: var(--overlay-background);

}

.vote .background .decorations {
    display: var(--decorations-display);
}

.variants {
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    height: var(--variants-height);
    margin-top: var(--variants-margin-top);

}

.variants.columns {

    gap: var(--variants-gap);

}

.variants.columns:before {
    --size: calc(var(--vpx) * 213);
    content: "";
    z-index: -1;
    position: absolute;
    align-self: center;
    width: var(--size);
    height: var(--size);
    filter: blur(100px);
    border-radius: 100%;
    justify-self: center;
    background-color: #ED1923;
    display: var(--variants-decoration-display);
}

.variants.grid {
    flex-wrap: wrap;
    column-gap: var(--variants-gap);
    row-gap: var(--variants-vertical-gap);
}

.variants .variant {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    max-height: var(--variant-height);
}

.variants.grid .variant {
    /*max-height: calc(var(--vpx) * 260);*/
    width: calc((100% - var(--variants-gap)) / 2);
}

.variants.grid.full .variant {
    height: calc((100% - var(--variants-vertical-gap)) / 2);
}

.rounds {
    --variants-padding-top: calc(var(--vpx) * 124);
    --variants-height: calc(var(--page-height) - var(--variants-padding-top) - var(--variants-padding-bottom));
    width: 100%;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-direction: column;
    justify-content: stretch;
    height: var(--variants-height);
    margin-top: var(--header-padding);
    row-gap: var(--variants-vertical-gap);
}

.rounds .round {
    height: 50%;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-direction: column;
}

.rounds .round h1 {
    display: block;
    margin: unset;
}

.rounds .variants {
    height: 100%;
}

.variants .variant .background {
    all: initial;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    min-height: var(--variant-grid-background-min-height);
    background: var(--variant-background);
    background-position: bottom calc(var(--vpx) * 53) center, bottom, bottom;
    background-size: 100%;
}

.variants .variant:nth-of-type(even) .background {
    --variant-background-image: var(--decorations-background-right-image);
    /* @formatter:off */
    --variant-background:
            var(--variant-background-image),
            linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%),
            rgba(255, 255, 255, 0.20);
    /* @formatter:on */
    background-position: bottom calc(var(--vpx) * -44) center, bottom, bottom;
}

.variants .variant picture {
    height: 100%;
    z-index: -1;
}

.variants .variant picture img {
    all: initial;
    height: 100%;
    /*opacity: 0;*/
}

.variants .variant .name {
    font-size: calc(var(--vpx) * 18);
}

.variants .variant button {
    width: 100%;
    height: calc(var(--vpx) * 62);
    font-size: calc(var(--vpx) * 16);
    margin-top: var(--variant-button-padding);
    border-radius: calc(var(--vpx) * 5);
}

.variants.results .variant button {
    font-size: calc(var(--vpx) * 24);;
}

.variants.results .variant button:not(.selected) {
    border: 1px solid #777;
    background: unset;
}
