.vote {

    --decorations-display: none;

    --section-horizontal-padding: var(--lines-padding);
    --section-width: calc(100% - (var(--section-horizontal-padding) * 2));

    --content-max-width: 100%;

    --variants-padding-top: calc(var(--vpx) * 200);
    --variants-padding-bottom: calc(var(--vpx) * 58);
    --variants-height: calc(
            var(--page-height)
            -
            var(--variants-padding-top)
            -
            var(--variants-padding-bottom)
    );

    --variant-height: calc(var(--vpx) * (492 + 62));
    --variant-background-min-height: calc(
            var(--background-height)
            -
            var(--variants-padding-top)
            -
            var(--variants-padding-bottom)
    );

}

.vote .background .decorations {
    display: var(--decorations-display);
}

.variants {
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: stretch;
    height: var(--variants-height);

}

.variants.columns {

    gap: calc(var(--vpx) * 20);

}

.variants.grid {
    flex-wrap: wrap;
    row-gap: calc(var(--vpx) * 32);
    column-gap: calc(var(--vpx) * 20);
}

.variants .variant {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    max-height: var(--variant-height);
}

.variants.grid .variant {
    max-height: calc(var(--vpx) * 260);
    width: calc(50% - calc(var(--vpx) * 10));
    height: calc(50% - calc(var(--vpx) * 16));
}

.variants .variant .background {
    all: initial;
    top: 0;
    z-index: -1;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(var(--vpx) * 492);
    min-height: calc(var(--vpx) * 492);
}

.variants .variant picture img {
    all: initial;
    height: calc(var(--vpx) * 492);
}

.variants .variant picture img {
    object-position: bottom;
    object-fit: cover;
}

.variants .variant .name {
    font-size: calc(var(--vpx) * 18);
}

.variants .variant button {
    width: 100%;
    height: calc(var(--vpx) * 62);
    font-size: calc(var(--vpx) * 16);
    margin-top: calc(var(--vpx) * 16);
    border-radius: calc(var(--vpx) * 5);
}

.variants.results .variant button {
    font-size: calc(var(--vpx) * 24);;
}

.variants.results .variant button:not(.selected) {
    border: 1px solid #777;
    background: unset;
}
