* {
    cursor: default;
    touch-action: none;
}

:root {
    width: 100%;
    overflow: hidden;
    color: var(--font-color);
    height: var(--page-height);
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: var(--page-background-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root:before,
:root:after {
    top: 0;
    bottom: 0;
    content: "";
    z-index: -10;
    position: absolute;
    border-left: 1px solid;
    border-right: 1px solid;
    left: var(--lines-padding);
    right: var(--lines-padding);
    border-color: var(--lines-color);
}

:root:after {
    width: 0;
    border-left: 0;
    --lines-padding: calc((100% - 1px) / 2);
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

main {
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    display: var(--main-display);
    height: var(--page-height);
}

.background {
    top: 0;
    z-index: -1;
    width: 100%;
    display: block;
    position: absolute;
    height: var(--page-height);
    min-height: var(--background-height);
}

.background .decorations {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    height: var(--background-height);
    background-size: var(--decorations-background-size);
    background-image: var(--decorations-background-image);
    background-position: var(--decorations-background-position);
}

.vote .background .decorations {
    width: var(--vote-decorations-width);
    left: var(--vote-decorations-horizontal-padding);
    right: var(--vote-decorations-horizontal-padding);
    background-size: var(--vote-decorations-background-size);
    background-image: var(--vote-decorations-background-image);
}

.background .photos {
    bottom: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: var(--background-height);
}

.background .photos > picture {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.background .photos > picture.niletto {
    bottom: var(--niletto-bottom);
    width: var(--niletto-width);
    left: var(--niletto-left);
}

.background .photos > picture.klava {
    bottom: var(--klava-bottom);
    right: var(--klava-right);
    width: var(--klava-width);
}

section {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: var(--section-width);
}

.auth section {
    width: var(--auth-section-width);
}

.vote section {
    width: var(--vote-section-width);
}

section:after {
    z-index: 0;
    content: "";
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: var(--overlay-padding);
    height: var(--overlay-height);
    display: var(--overlay-display);
    background: var(--overlay-background);
}

.auth section:after {
    top: var(--auth-overlay-padding);
    height: var(--auth-overlay-height);
    display: var(--auth-overlay-display);
    background: var(--auth-overlay-background);
}

.vote section:after {
    top: var(--vote-overlay-padding);
    height: var(--vote-overlay-height);
    display: var(--vote-overlay-display);
    background: var(--vote-overlay-background);
}

.logo {
    z-index: 10;
    flex-shrink: 0;
    width: var(--logo-width);
    height: var(--logo-height);
    margin-top: var(--logo-padding);
}

.logo img {
    transform: scale(.1);
    transform-origin: 0 0;
    min-width: calc(var(--logo-width) * 10);
    min-height: calc(var(--logo-height) * 10);
}

h1, h2 {
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    color: var(--header-font-color);
    margin-top: var(--header-padding);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    font-family: var(--header-font-family);
}

.auth h1, .auth h2 {
    margin-top: var(--auth-header-padding);
    font-size: var(--auth-header-font-size);
}

.vote h1, .vote h2 {
    margin-top: var(--vote-header-padding);
    font-size: var(--vote-header-font-size);
}

p {
    z-index: 10;
    text-align: center;
    color: var(--paragraph-font-color);
    margin-top: var(--paragraph-padding);
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
}

h1, p {
    max-width: calc(100% - (var(--lines-padding) * 2));
}

h1 span, h2 span, p span {
    display: inline-block;
}

mark {
    background: var(--accent-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.vk {
    z-index: 10;
    width: var(--vk-width);
    height: var(--vk-height);
    bottom: var(--vk-padding);
    position: var(--vk-position);
    margin-top: var(--vk-padding);
    border-radius: var(--vk-border-radius);
}

.variants {
    top: 0;
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: center;
    height: var(--page-height);
    width: var(--variants-width);
    left: var(--variants-horizontal-padding);
    right: var(--variants-horizontal-padding);
}

.variants .side {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    max-height: var(--page-height);
    height: var(--background-height);
    width: var(--variants-side-width);
}

.variants .side .background {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: var(--background-height);
    overflow: var(--variants-background-overflow);
    padding-top: var(--variants-background-padding-top);
    padding-bottom: var(--variants-background-padding-bottom);
}

.variants .side .background:before {
    z-index: -1;
    content: "";
    position: absolute;
    width: var(--variants-background-underlay-width);
    height: var(--variants-background-underlay-height);
    display: var(--variants-background-underlay-display);
    background: var(--variants-background-underlay-background);
    clip-path: var(--variants-background-underlay-clip-path);
}

.variants .side:last-of-type .background:before {
    clip-path: var(--variants-background-underlay-reverse-clip-path);
}

.variants .side picture img {
    all: initial;
    height: var(--variants-background-height);
}

.variants .side .name {
    z-index: 10;
    margin-top: unset;
    font-size: var(--name-font-size);
    margin-bottom: var(--name-padding);
}

.variants .side button {
    z-index: 10;
    cursor: pointer;
    text-align: center;
    width: var(--button-width);
    height: var(--button-height);
    border: 1px solid transparent;
    background: var(--accent-gradient);
    margin-bottom: var(--button-padding);
    border-radius: var(--button-border-radius);
}

.variants.results .side button {
    font-size: var(--results-button-font-size);
}

.variants.results .side button:not(.selected) {
    border: 1px solid #777;
    background: unset;
}

.low-resolution {
    align-items: center;
    justify-content: center;
    height: var(--page-height);
    display: var(--low-resolution-display);
}
