:root {
    width: 100%;
    color: var(--font-color);
    height: var(--page-height);
    font-family: var(--font-family);
    background: var(--page-background-color);
}

:root:before,
:root:after {
    top: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    position: absolute;
    border-left: 1px solid;
    border-right: 1px solid;
    left: var(--lines-padding);
    right: var(--lines-padding);
    border-color: rgba(255, 255, 255, 0.10);
}

:root:after {
    width: 0;
    border-left: 0;
    --lines-padding: calc((100% - 1px) / 2);
}
