:root {

    --vpx: calc(100vw / 375);

    --background-height: calc(var(--vpx) * 812);

    --page-height: 100vh;
    --page-height: -moz-available;
    --page-height: -webkit-fill-available;
    --page-height: 100svh;

    --font-color: white;
    --font-family: "RF Dewi";
    --font-size: calc(var(--vpx) * 16);

    --accent-color-start: #EC1623;
    --accent-color-end: #F2591F;

    --accent-gradient: linear-gradient(
            90deg,
            var(--accent-color-start) 0%,
            var(--accent-color-end) 100%
    );

    --page-background-color: #070707;

    --main-display: flex;

    --section-width: 100%;
    --section-horizontal-padding: 0;

    --auth-section-width: var(--section-width);
    --auth-section-horizontal-padding: var(--section-horizontal-padding);

    --vote-section-width: calc(100% - (var(--vote-section-horizontal-padding) * 2));
    --vote-section-horizontal-padding: var(--lines-padding);

    --decorations-padding: 257;
    --decorations-background-size: 50%;
    /* @formatter:off */
    --decorations-background-left-image:
            url("/images/decoration.left.png");
    --decorations-background-right-image:
            url("/images/decoration.right.png");
    --decorations-background-image:
            var(--decorations-background-left-image),
            var(--decorations-background-right-image);
    --decorations-background-position:
            top calc(var(--vpx) * var(--decorations-padding)) left,
            top calc(var(--vpx) * var(--decorations-padding)) right;

    --vote-decorations-background-image:
            var(--decorations-background-left-image),
            url("/images/decoration.right.alternate.png");
    /* @formatter:on */
    --vote-decorations-horizontal-padding: var(--lines-padding);
    --vote-decorations-background-size: var(--decorations-background-size);
    --vote-decorations-width: calc(100% - (var(--vote-decorations-horizontal-padding) * 2));

    --lines-color: rgba(255, 255, 255, 0.10);
    --lines-padding: calc(var(--vpx) * 20);

    --overlay-display: block;
    --overlay-threshold: 75%;
    --overlay-height: calc(var(--vpx) * 371);
    --overlay-padding: calc(
            var(--page-height) - var(--overlay-height)
    );
    --overlay-background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.00) 0%,
            #000 var(--overlay-threshold)
    );

    --auth-overlay-height: var(--overlay-height);
    --auth-overlay-padding: var(--overlay-padding);
    --auth-overlay-display: var(--overlay-display);
    --auth-overlay-threshold: var(--overlay-threshold);
    --auth-overlay-background: var(--overlay-background);

    --vote-overlay-threshold: 35%;
    --vote-overlay-height: calc(var(--vpx) * 258);
    --vote-overlay-display: var(--overlay-display);
    --vote-overlay-padding: calc(
            var(--page-height) - var(--vote-overlay-height)
    );
    --vote-overlay-background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.00) 0%,
            #000 var(--vote-overlay-threshold)
    );

    --header-font-family: "RF Dewi Extended";
    --header-font-size: calc(var(--vpx) * 32);
    --header-padding: calc(var(--vpx) * 37);
    --header-font-color: var(--font-color);
    --header-font-weight: 800;

    --auth-header-padding: var(--header-padding);
    --auth-header-font-size: var(--header-font-size);

    --vote-header-padding: var(--header-padding);
    --vote-header-font-size: var(--header-font-size);

    --logo-padding: calc(var(--vpx) * 40);
    --logo-height: calc(var(--vpx) * 47);
    --logo-width: calc(var(--vpx) * 73);

    --vk-position: absolute;
    --vk-width: calc(var(--vpx) * 313);
    --vk-height: calc(var(--vpx) * 62);
    --vk-padding: calc(var(--vpx) * 59);
    --vk-border-radius: calc(var(--vpx) * 8);

    --paragraph-font-weight: 300;
    --paragraph-padding: calc(var(--vpx) * 15);
    --paragraph-font-size: calc(var(--vpx) * 15);
    --paragraph-font-color: rgba(215, 215, 215, 0.50);

    --variants-side-width: 50%;
    --variants-horizontal-padding: var(--lines-padding);
    --variants-width: calc(100% - (var(--variants-horizontal-padding) * 2));

    --variants-background-overflow: hidden;
    --variants-background-height: calc(var(--vpx) * 386);
    --variants-background-padding-top: calc(var(--vpx) * 284);
    --variants-background-padding-bottom: calc(var(--vpx) * 152);

    --variants-background-underlay-display: none;
    --variants-background-underlay-width: calc(var(--vpx) * 180);
    --variants-background-underlay-height: var(--variants-background-height);
    --variants-background-underlay-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
    --variants-background-underlay-reverse-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    --variants-background-underlay-background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.20) 0%,
            rgba(255, 255, 255, 0.00) 35%
    );

    --name-font-size: calc(var(--vpx) * 18);
    --name-padding: calc(var(--vpx) * 18);

    --button-width: calc(var(--vpx) * 144);
    --button-height: calc(var(--vpx) * 62);
    --button-padding: calc(var(--vpx) * 59);
    --button-border-radius: calc(var(--vpx) * 5);

    --results-button-font-size: calc(var(--vpx) * 24);

    --niletto-left: calc(var(--vpx) * 114.5);
    --niletto-bottom: calc(var(--vpx) * 5.12);
    --niletto-width: calc(var(--vpx) * 368.384);

    --klava-width: calc(var(--vpx) * 636);
    --klava-right: calc(var(--vpx) * -54);
    --klava-bottom: calc(var(--vpx) * -337);

    --low-resolution-display: none;

}

@media (orientation: portrait) and (min-width: 750px) {

    :root {

        --vpx: calc(100vw / 834);

        --background-height: calc(var(--vpx) * 1194);

        --lines-padding: calc(var(--vpx) * 60);

        --decorations-padding: 373;
        --decorations-background-size: calc(var(--vpx) * 350);

        --vote-decorations-background-size: 50%;
        --vote-decorations-background-image: var(--decorations-background-image);

        --auth-overlay-display: none;
        --vote-overlay-threshold: 70%;
        --vote-overlay-height: calc(var(--vpx) * 398);

        --logo-width: calc(var(--vpx) * 90);
        --logo-height: calc(var(--vpx) * 58);
        --logo-padding: calc(var(--vpx) * 60);

        --header-padding: calc(var(--vpx) * 69);
        --header-font-size: calc(var(--vpx) * 48);

        --vk-position: static;
        --vk-padding: calc(var(--vpx) * 40);

        --paragraph-padding: calc(var(--vpx) * 10);
        --paragraph-font-size: calc(var(--vpx) * 18);

        --variants-background-height: calc(var(--vpx) * 704);
        --variants-background-padding-top: calc(var(--vpx) * 391.81);
        --variants-background-padding-bottom: calc(var(--vpx) * 118);

        --name-padding: calc(var(--vpx) * 20);
        --name-font-size: calc(var(--vpx) * 24);

        --button-width: calc(var(--vpx) * 266);
        --button-padding: calc(var(--vpx) * 83);

        --niletto-left: calc(var(--vpx) * 267.42);
        --niletto-width: calc(var(--vpx) * 678.83);
        --niletto-bottom: calc(var(--vpx) * -274.54);

        --klava-right: calc(var(--vpx) * -20);
        --klava-width: calc(var(--vpx) * 1174);
        --klava-bottom: calc(var(--vpx) * -903);

    }

}

@media (orientation: landscape) {

    :root {

        --vpx: calc(100vw / 1194);

        --background-height: calc(var(--vpx) * 834);

        --lines-padding: calc(var(--vpx) * 60);

        --main-display: flex;

        --vote-section-horizontal-padding: calc(var(--vpx) * 277);
        --vote-section-width: calc(100% - (var(--vote-section-horizontal-padding) * 2));

        --decorations-padding: 0;
        --decorations-background-size: calc(var(--vpx) * 305);

        --vote-decorations-width: 100%;
        --vote-decorations-horizontal-padding: 0;
        --vote-decorations-background-image: var(--decorations-background-image);

        --auth-overlay-display: none;

        --vote-overlay-threshold: 45%;
        --vote-overlay-height: calc(var(--vpx) * 222);

        --logo-width: calc(var(--vpx) * 90);
        --logo-height: calc(var(--vpx) * 58);
        --logo-padding: calc(var(--vpx) * 60);

        --header-padding: calc(var(--vpx) * 161);
        --header-font-size: calc(var(--vpx) * 48);

        --vote-header-padding: calc(var(--vpx) * 52);
        --vote-header-font-size: calc(var(--vpx) * 42);

        --vk-position: static;
        --vk-padding: calc(var(--vpx) * 40);

        --paragraph-padding: calc(var(--vpx) * 10);
        --paragraph-font-size: calc(var(--vpx) * 18);

        /*--variants-background-overflow: initial;*/
        --variants-background-height: calc(var(--vpx) * 474);
        --variants-background-padding-top: calc(var(--vpx) * 308);
        --variants-background-padding-bottom: calc(var(--vpx) * 52);

        --variants-background-underlay-display: block;

        --name-padding: calc(var(--vpx) * 20);
        --name-font-size: calc(var(--vpx) * 24);

        --button-width: calc(var(--vpx) * 266);
        --button-padding: calc(var(--vpx) * 52);

        --niletto-left: calc(var(--vpx) * 720.05);
        --niletto-width: calc(var(--vpx) * 621.857);
        --niletto-bottom: calc(var(--vpx) * -248.91);

        --klava-right: calc(var(--vpx) * 457.74);
        --klava-width: calc(var(--vpx) * 1020.92);
        --klava-bottom: calc(var(--vpx) * -730);

        --low-resolution-display: none;

    }

}

@media (orientation: landscape) and (max-height: 500px) and (max-width: 1000px) {

    :root {

        --vpx: calc(100vw / 1194);

        --main-display: none;

        --header-padding: 0;
        --header-font-size: calc(var(--vpx) * 48);

        --low-resolution-display: flex;

    }

}
